body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #747474;

  h1 {
    margin: 15px auto 30px auto;
    font-size: 1.5em;
    text-transform: uppercase;
  }

  canvas {
    box-shadow: 0 0 5px 1px #000;
    background-color: #919191;
  }
}